@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e7e7e7;
}

::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #0b1622 !important;
    min-width: 400px;
}

.center {
    margin: auto;
    width: 50%;
}


/*Navbar custom*/

.navbar-custom {
    filter: drop-shadow(0px 4px 9px rgba(18, 34, 53, 0.20));
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.logo {
    width: 20px;
}

.settings-button-image {
    transition: all .2s ease-in-out;
}

.settings-button-image:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.content .background {
    padding: 5rem;
    background-size: cover;
    background-position: center;
    height: 200px;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: relative;
    width: 100%;
}

.content .foreground {
    margin-top: -8rem;
    z-index: 1;
    position: relative;
}

.content .container {
    width: auto !important;
    min-width: 400px;
}

.content .dropdown-item {
    cursor: pointer;
    color: white !important;
    background-color: #151f2e!important;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    -webkit-transition: 0.2s ease-in;
    transition: none !important;
    -webkit-box-shadow: 0px 4px 30px rgba(21, 31, 46, 0.5);
    box-shadow: 0px 4px 30px rgba(21, 31, 46, 0.5);
}

.content .lastepisode {
    border: 2px solid #3db4f2;
    background-color: #0b1622!important;
}

.loaded:hover {
    color: black !important;
    background-color: #3db4f2 !important;
    -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
}