<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/play_stylesheet.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Yunime</title>
</head>


<body id="body">

    <nav class="navbar navbar-light fixed-top navbar-custom">
        <a class="navbar-brand " href="#"><img class="logo" src="./assets/icons/logo-white.png"></a>
        <!--<a class="navbar-brand float-right settings-button" href="./settings.html"><img src="../data/icons/settings.svg" class="settings-button-image" style="width: 20px; height: 20px"></a>-->
    </nav>

    <div class="content">
        <div class="background">
        </div>
        <div class="container">
            <h1 class="foreground text-center text-white" id="anime_title"></h1>
        </div>

        <div class="container episodes ml-5 mr-5">

        </div>
    </div>

    <!--Add DOM Components-->

    <script src="../controller/popupPlay.js "></script>
    <script src="../controller/lib/jquery-3.6.0.min.js"></script>
</body>


</html>