<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/play_stylesheet.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Yunime</title>
</head>


<body id="body">

    <nav class="navbar navbar-light fixed-top navbar-custom">
        <a class="navbar-brand " href="#"><img class="logo" src="./assets/icons/logo-white.png"></a>
        <!--<a class="navbar-brand float-right settings-button" href="./settings.html"><img src="../data/icons/settings.svg" class="settings-button-image" style="width: 20px; height: 20px"></a>-->
    </nav>

    <div class="content">
        <!--Header container-->
        <div class="background">
        </div>
        <div class="container">
            <h1 class="foreground text-center text-white" id="anime_title"></h1>
        </div>
        <!--xHeader containerx-->

        <!--Alerts-->
        <div class="alert alert-danger alert-dismissible fade show m-5" role="alert" id="alert">
            <strong>Episodio non disponibile!</strong> You should check in on some of those fields below.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="closeBtn">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!--xAlertsx-->

        <!--Episodes container-->
        <div class="container episodes m-5">
        </div>
        <!--xEpisodes containerx-->

    </div>

    <!--Add DOM&JS Components-->
    <script src="../controller/popupPlay.js "></script>
    <script src="../controller/lib/jquery-3.6.0.min.js"></script>
    <script src="../controller/lib/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>