<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/play_stylesheet.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Yunime</title>
</head>


<body id="body">

<div class="content">
    <div class="background">
    </div>
        <h1 class="foreground text-center text-white" id="anime_title"></h1>

    <div class="play-container episodes ml-5 mr-5">

    </div>
</div>

    <!--Add DOM Components-->
    <script src="../controller/popupPlay.js "></script>
    <!--Libraries-->
    <script src="../controller/lib/jquery-3.6.0.min.js"></script>
    <script src="../controller/lib/popper.min.js"></script>
    <script src="../controller/lib/bootstrap.min.js"></script>
</body>

</html>